<%- include(metaconfig.paths.layouts.start); %>
<main id="home">
  <div class="intro">
    <!-- TODO: from config --!>
    <img class="personal-pic" src="<%= home.photo %>" />
    <div class="info">
      <p>Hello, I'm</p>
      <!-- TODO: from config --!>
      <p id="name">Hícaro Dânrlley</h1>
      <!-- TODO: from config --!>
      <p>Software engineer</p>
    </div>
  </div>
</main>
<%- include(metaconfig.paths.layouts.end); %>
