<%- include(metaconfig.paths.layouts.start); %>
<main id="home">
  <div class="intro">
    <div class="info">
      <p id="name"><%= profile.name %></h1>
      <p id="description">Software engineer. Brazilian. Passionate by compilers and Counter-Strike.</p>
    </div>
    <img class="personal-pic" src="<%= home.photo %>" />
  </div>
</main>
<%- include(metaconfig.paths.layouts.end); %>
