<%- include(metaconfig.paths.layouts.start); %>
<main id="home">
  <div class="intro">
    <p>Hello, I'm</p>
    <p id="name">Hícaro Dânrlley</h1>
    <p>Software engineer</p>
  </div>
</main>
<%- include(metaconfig.paths.layouts.end); %>
