<%- include(metaconfig.paths.layouts.start); %>
<main id="resume">
  <div class="section about-me">
    <p id="about-me" class="section-title">
      <a href="#about-me">#</a> About me
    </p>
    <p>
      I&#39;m a 🇧🇷 brazilian software engineer with more than 3 years of
      experience and Computer Science student at Universidade Federal de Alagoas
      (UFAL).
    </p>
    <p>
      More especifically, I am a mobile and backend developer. Previously, I've
      worked at Otimize, a Brazilian startup that is pioneering the use of
      technology to evaluate human movement kinematics.
    </p>
    <p>
      I also love compilers. My main personal project is a compiler for my own
      programming language called <i>Telia</i>.
    </p>
    <p>
      During my spare time, I have made sporadic contributions to open-source
      developer tools, such as
      <a
        href="https://github.com/nvim-telescope/telescope.nvim"
        class="link"
        target="_blank"
        >telescope.nvim (fuzzy finder for the Neovim text editor written in
        Lua)</a
      >
      and
      <a
        class="link"
        href="https://github.com/quick-lint/quick-lint-js"
        target="_blank"
        >quick-lint-js (a JavaScript linter written in C++)</a
      >.
    </p>
  </div>

  <div class="section">
    <p id="skills" class="section-title"><a href="#skills">#</a> Skills</p>
    <ul class="list">
      <li>
        Experience as a back-end developer with Python, Go and other
        technologies, and as a cross-platform mobile app developer with Flutter.
      </li>
      <br />
      <li>
        Skills in several programming languages, including Python, Typescript
        (NodeJS), Java, Dart, Rust and Go. Thanks to my problem-solving skills,
        I have great ease and flexibility in switching between programming
        languages and frameworks according to the task's requirements.
      </li>
      <br />
      <li>
        Fluent in conversational English and with advanced writing skills.
        <a class="link" href="https://www.efset.org/cert/gpUeom" target="_blank"
          >I'm EC2 Proficient in the EF Standard English Test</a
        >.
      </li>
      <br />
      <li>
        Computer Science student at UFAL, with a strong interest in analysis and
        performance of algorithms, compilers and software architecture.
      </li>
    </ul>
  </div>

  <div class="section">
    <p id="work" class="section-title"><a href="#work">#</a> Work experience</p>
    <div class="work-item">
      <div class="work-location">
        <p>Otimize Tech</p>
        <p>Arapiraca - Alagoas, Brazil</p>
      </div>
      <div class="work-stage">
        <p class="work-degree">Back-end and mobile software engineer</p>
        <p class="work-start-end">2021 - 2024</p>
      </div>
      <div class="work-achievements">
        <ul class="list">
          <li>
            Developed RESTful APIs with Python and FastAPI for filtering sensory
            data using advanced filtering methods, such as Kalman filter.
          </li>
          <br />
          <li>
            <b>Improved runtime performance by 71%</b> using a library called Ray to
            process sensor data from each part of the human body in parallel.
            Additionally, I used Numpy methods and arrays instead of lists from
            native Python for obtaining optimized results.
          </li>
          <br />
          <li>
            <b>Reduced peak memory consumption by 52%</b> with an algorithm to read
            chunks (sublists) of large lists of sensor data. The general idea is
            to calculate the index range of each chunk of the list and place it
            in a range list instead of separating the entire list and overloading
            memory with new lists.
          </li>
          <br />
          <li>
            Implemented reverse proxies with NGINX, using SSL certificates to
            enable the server to use HTTPS, in order to deploy the analytics API
            of the company. This ensured the security of communication between
            the client and server, protecting user data during the communication.
          </li>
          <br />
          <li>
            Built a deployment automation system with Bash scripts using GitHub
            Actions alongside with SSH in order to do remote connections to the
            server. This made the deployment process easier, given that the
            deployment process is done automatically as soon as new changes are
            sent to the main branch.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section">
    <p id="education" class="section-title"><a href="#education">#</a> Education</p>
    <div class="education-item">
      <div class="education-location">
        <p>Federal University of Alagoas</p>
        <p>Arapiraca - Alagoas, Brazil</p>
      </div>
      <div class="education-stage">
        <p class="education-degree">Bachelor's degree in Computer Science</p>
        <p class="education-start-end">2021 - Present</p>
      </div>
      <div class="education-achievements">
        <ul class="list">
          <li>
            I taught an introductory course to the Python programming language.
            This course was completely free and was a comprehensive exploration
            of the important aspects of Python aimed at Computer Science
            students. The course is structured to cover language fundamentals,
            including variables, data structures, functions, and
            object-oriented programming.
          </li>
          <br />
          <li>
            I taught an advanced course on Web Scraping with BeautifulSoup
            together with college friends. We were able to teach various
            techniques for extracting and manipulating data from any web,
            allowing students to collect and analyze web data efficiently.
          </li>
          <br />
          <li>
            I taught an introductory course on building RESTful APIs with
            FastAPI together with college friends. Students were introduced to
            the process of creating, managing, and optimizing robust and
            efficient APIs. The course covers everything from the basics of API
            development to more advanced techniques, equipping students with
            the skills needed to build high-performance APIs.
          </li>
          <br />
          <li>
            I volunteered in organizing the Aracomp 2023 event in the "Marketing
            and Communication" team. Aracomp is an annual computing event that
            takes place at the Federal University of Alagoas, which brings
            together speakers, students and professionals in the technology field
            in general.
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
<%- include(metaconfig.paths.layouts.end); %>
