<nav id="topbar">
  <!-- TODO: get profile picture path / link to insert here -->
  <div class="me">
    <img src="https://via.placeholder.com/55" alt=""/>
    <p class="name"><a href="#"><%= profile.name %></a></p>
  </div>

  <!-- TODO: this could be a loop that reads data from the template stuff and then links to the proper sections -->
  <ul class="items">
    <li class="item"><a href="#">Resume</a></li>
    <li class="item"><a href="#">Projects</a></li>
    <li class="item"><a href="#">Blog</a></li>
    <li class="item"><a href="#">CV</a></li>
  </ul>
</nav>

<hr id="navbar-line">
