<nav id="topbar">
  <div class="me">
    <img src="<%= profile.picture %>" alt="profile-pic" />
    <p class="name"><a href="#"><%= profile.name %></a></p>
  </div>

  <ul class="items">
  <% metaconfig.topbar.forEach(function(topbarItem){ -%>
    <% var item = topbarItem.item %>
    <% var path = topbarItem.path %>
    <li class="item"><a href=<%= path %>><%= item %></a></li>
  <% }); -%>
  </ul>
</nav>

<hr id="navbar-line" />
