#blog .post > * {
  margin: 10px auto;
}

#blog .post .title {
  font-family: "IBM Plex Serif";
  font-weight: 500;
}

#blog .date {
  color: grey;
  font-size: 18px;
}

#blog .tags {
  margin-top: 0px;
  display: flex;
  gap: 10px;
}

#blog .tags > p {
  margin-top: 0;
  font-size: 18px;
}
