/* Intro */
#home .intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#home p {
  font-size: 20px;
  margin: 5px auto;
  color: #343434;
}

#home .intro .personal-pic {
  border-radius: 5px;
  width: 320px;
  height: 450px;
}

#home #name {
  font-size: 40px;
  color: #157fd7;
}

#home #description {
  width: 300px;
  text-align: center;
}
