@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* General website style */
body {
  width: 65%;
  margin: 0 auto;
  font-family: "IBM Plex Serif";
}

/* Generic link style */
.link {
  color: #157fd7;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Generic section style */
.section {
  font-size: 30px !important;
  color: #157fd7;
}

.section a {
  color: #157fd7;
}
