/* blue - #157fd7 */
/* grey - #d9d9d9 */

/* Navigation bar layout */
#topbar {
  font-family: "Poppins";
  justify-content: space-between;
}

#topbar .me img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

#topbar,
#topbar > * {
  display: flex;
  align-items: center;
}

#topbar > * {
  width: 50%;
}

/* Me */
#topbar .me {
  column-gap: 1rem;
}

#topbar .me .name {
  font-size: 2rem;
  font-weight: 500;
}

/* List of items */
#topbar .items {
  justify-content: end;
  font-size: 18px;
  column-gap: 2rem;
}

#topbar .items li {
  list-style: none;
}

.topbar-line {
  margin-bottom: 2rem;
}

@media screen and (max-width: 900px) {
  #topbar {
    flex-direction: column;
  }

  #topbar .me .name {
    font-size: 1.6rem;
  }

  #topbar .items {
    font-size: 16px;
  }

  #topbar .me,
  #topbar .items {
    justify-content: center;
    width: 100%;
  }

  #topbar .items {
    padding-left: 0px;
  }
}
