@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* blue - #157fd7 */
/* grey - #d9d9d9 */

/* Navigation bar layout */
#topbar {
  font-family: "Poppins";
  justify-content: space-between;
}

#topbar .me img {
  width: 55px;
  height: 55px;
}

#topbar,
#topbar > * {
  display: flex;
  align-items: center;
}

#topbar > * {
  width: 50%;
}

/* Me */
#topbar .me {
  column-gap: 1rem;
}

#topbar .me .name {
  font-size: 2rem;
  font-weight: 500;
}

#topbar .me img {
  border-radius: 50%;
}

/* List of items */
#topbar .items {
  justify-content: end;
  font-size: 18px;
  column-gap: 2rem;
}

#topbar .items li {
  list-style: none;
}

/* Divider line */
#navbar-line {
  height: 1px;
  border-width: 0;
  color: rgb(152, 143, 129);
  background-color: rgb(45, 49, 51);
}
