<nav class="topbar">
  <div class="me">
    <!-- TODO: get profile picture path / link to insert here -->
    <img src="https://via.placeholder.com/50" alt=""/>
    <p class="name"><%= profile.name %></p>
  </div>

  <ul class="items">
    <!-- TODO: this could be a loop that reads data from the template stuff and then links to the proper sections -->
    <li class="item"><a href="#">Resume</a></li>
    <li class="item"><a href="#">Projects</a></li>
    <li class="item"><a href="#">Blog</a></li>
    <li class="item"><a href="#">CV</a></li>
  </ul>
</nav>
